VITE_NAME_ENV=Vite
VITE_SITE_ANIMATION_ENV='fade-up'
VITE_SITE_SMTP_USER_ENV='SOMEEMAIL'
VITE_SITE_SMTP_PASS_ENV='SOMEPASS'
VITE_SITE_SMTP_HOST_ENV='SOMEHOST'
VITE_SITE_SMTP_PORT_ENV= SOMEPORT
VITE_SITE_SMTP_SECURE_ENV='SOMEPROTOCOL'
VITE_SITE_SMTP_FROM_ENV='SOMEEMAIL'
VITE_SITE_SMTP_FROM_NAME_ENV='SOMENAME'

VITE_SITE_RECAPTCHA_KEY_ENV='SOMESTRING'
VITE_SITE_RECAPTCHA_SECRET_ENV='SOMESTRING'