@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@100..900&display=swap');
@import 'tailwindcss';
@theme {
	--color-primary: rgb(0, 175, 240);
	--color-secondary: rgb(247, 142, 30);
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}
body {
	font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	font-weight: 300;
}
@custom-variant dark (&:is(.dark *));

/* Loader */
.bb-loader .loader:before {
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
	top: -20px;
	left: -20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed #3d4750;
	border-radius: 50%;
	animation: animloader 5s linear infinite;
}

.nav-hover-bg {
	transition: all 300ms ease;
	z-index: -1;
}

@keyframes animloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* End Loader */

.dark body {
	background-color: #111827;
	color: #fff;
}

.profile-avatar-container {
	margin-top: -64px;
}
.card-border {
	border: 1px solid #e5e7eb;
}
.link-hover:hover {
	text-decoration: underline;
	color: rgb(0, 175, 240);
}
